/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Container styles */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title styles */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* Course list styles */
.course-list {
    list-style: none;
    padding: 0;
}

/* Course item styles */
.course-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.course-item:hover {
    background-color: #f1f3f5;
}

/* Course title styles */
.course-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Course description styles */
.course-item p {
    font-size: 16px;
}
.pdf-button {
    background-color: #d41414;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 45px;
    cursor: pointer;
}
/* Responsive styles for embedded videos */
.course-item iframe {
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}
.find-text-button{
    background-color: #f00000d5;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 45px;
    cursor: pointer;
}
/* Course list styles */
.course-list {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Add some space above the course list */
}

/* Course list item styles */
.course-list li {
    margin-bottom: 10px; /* Add space between each course name */
}

/* Course list link styles */
.course-list a {
    text-decoration: none;
    color: #333; /* Change link color */
    font-size: 18px; /* Change font size */
    display: inline-block; /* Ensure each link takes its own line */
    transition: color 0.3s; /* Add smooth transition effect for color change */
}

/* Course list link hover styles */
.course-list a:hover {
    color: #f00000d5; /* Change link color on hover */
}
